{% extends 'base.html.twig' %}

{% block title %}Entreorise X - Ajout Produit{% endblock %}

{% block body %}
    <div class="container">
    <h1 class='mt-4'>Ajout d'un produit</h1>

    {{form(form)}}
    
    </div>
{% endblock %}
