{% extends "base.html.twig" %}

{% block title %}Entreprise X - Accueil
{% endblock %}
{% block body %}
	<h1 class="display-4">Bienvenue chez Entreprise_X!</h1>
	<p class="lead">L'entreprise X vend tout type de produits dans la catégorie IT. Vous pouvez des produits tels que des télévisions, des téléphones ou encore des enceintes.</p>
	<hr class="my-4">
	<p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
	<p>
		<a href="{{'/inscription'}}" role="button">S'inscrire</a>
	</p>
</div></div>{% endblock %}
